body{
  footer{
    #footer-container{
      margin-left: 10%;
      .div-footer{
        float:left;
        padding: 10px;
      }
      .div-footer li{
        list-style: none;
        .footer-header{
          border-bottom: 1.5px solid royalblue;
          padding-bottom: 10px;
          padding-right: 15px;
          padding-top: 10px;
          margin-right: 35px;
          margin-bottom: 20px;
          text-decoration: none;
          display: inline-block;
        }
        .footer-header:hover{
          color:royalblue;
        }
        .footer-links:hover{
          color:royalblue;
        }
        .footer-links :link, :visited{
          color:black;
        }
      }
      .div-footer .footer-links{
        text-decoration: none;
        display:inline-block;
      }
    }
  }
}