body{
  header{
    #section-left{
      #article-secLeft{
        #postcode-input{
          border: 1.5px solid royalblue;
          border-radius: 20px;
          padding: 5px 15px 5px 15px;
          width: 20%;
          font-size:1em;
          margin-top: 5px;
        }
        #postcode-input:focus{
          outline:none;
          color:royalblue;
        }
        .secLeft-inputs{
          border: 1.5px solid royalblue;
          border-radius: 20px;
          padding: 5px 15px 5px 15px;
          width: 35%;
          font-size:1em;
          color:royalblue;
          margin-top: 5px;
        }
        .secLeft-inputs:focus{
          outline:none;
        }
      }
    }
  }
}