body{
  header{
    #navBar{
      display: inline-block;
      margin-left: 2%;
      vertical-align: 70%;
      .navBar-link{
        color:white;
      }
      ul{
        display:inline-block;
        li{
          list-style: none;
          display:inline-block;
          a{
            transition: background-color .4s ease-in-out, color .4s ease-in-out;
          }
          :link, :visited{
            color:white;
            text-decoration: none;
            font-size: 1.5em;
            padding: 10px;
            margin-right: 5px;
            margin-left: 5px;
          }
          :hover{
            background-color: white;
            color:rgb(15, 31, 60);
          }
        }
      }
    }
  }
}