/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_header.scss */
body {
  margin: 0 auto;
  font-family: sans-serif;
  font-size: 16px;
  padding: 10px;
}
/* line 6, ../sass/_header.scss */
body header {
  background-color: #0f1f3c;
  padding: 10px;
  position: relative;
}
/* line 10, ../sass/_header.scss */
body header #logo {
  display: inline-block;
  vertical-align: 25%;
}
/* line 13, ../sass/_header.scss */
body header #logo #logo-img {
  width: 230px;
}
/* line 17, ../sass/_header.scss */
body header #menuBar-container {
  display: inline-block;
  margin: 20px 40px 20px 40px;
}
/* line 20, ../sass/_header.scss */
body header #menuBar-container #menuBar {
  display: inline-block;
  position: relative;
}
/* line 23, ../sass/_header.scss */
body header #menuBar-container #menuBar .menuBar-lines {
  border-bottom: 7px solid white;
  width: 45px;
  margin-bottom: 5px;
  padding: 2px;
}
/* line 31, ../sass/_header.scss */
body header :hover #menuBar-dropDown {
  display: inline-block;
}
/* line 34, ../sass/_header.scss */
body header #menuBar-dropDown {
  position: absolute;
  border: 1.5px solid #0f1f3c;
  top: 100%;
  left: 0%;
  width: auto;
  height: auto;
  background-color: #0f1f3c;
  display: none;
}
/* line 43, ../sass/_header.scss */
body header #menuBar-dropDown #menuBar-dropDown .menuBar-link {
  color: white;
}
/* line 46, ../sass/_header.scss */
body header #menuBar-dropDown #menuBar-dropDown a:hover {
  color: #0f1f3c;
}
/* line 49, ../sass/_header.scss */
body header #menuBar-dropDown #menuBar-dropDown ul {
  margin: 0;
  padding: 0;
}
/* line 52, ../sass/_header.scss */
body header #menuBar-dropDown #menuBar-dropDown ul #menuBar-dropDown li {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 3, ../sass/_navbar.scss */
body header #navBar {
  display: inline-block;
  margin-left: 2%;
  vertical-align: 70%;
}
/* line 7, ../sass/_navbar.scss */
body header #navBar .navBar-link {
  color: white;
}
/* line 10, ../sass/_navbar.scss */
body header #navBar ul {
  display: inline-block;
}
/* line 12, ../sass/_navbar.scss */
body header #navBar ul li {
  list-style: none;
  display: inline-block;
}
/* line 15, ../sass/_navbar.scss */
body header #navBar ul li a {
  transition: background-color .4s ease-in-out, color .4s ease-in-out;
}
/* line 18, ../sass/_navbar.scss */
body header #navBar ul li :link, body header #navBar ul li :visited {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  padding: 10px;
  margin-right: 5px;
  margin-left: 5px;
}
/* line 26, ../sass/_navbar.scss */
body header #navBar ul li :hover {
  background-color: white;
  color: #0f1f3c;
}

/* line 2, ../sass/_sectionLeft.scss */
body #section-left {
  padding: 10px;
  float: left;
  width: 55%;
  border-right: 1.5px solid gray;
  font-size: 1.5em;
  margin-left: 11%;
  margin-top: 4%;
  margin-bottom: 4%;
}
/* line 11, ../sass/_sectionLeft.scss */
body #section-left h1 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 1.7em;
}
/* line 16, ../sass/_sectionLeft.scss */
body #section-left #article-secLeft {
  margin-left: 23px;
}
/* line 19, ../sass/_sectionLeft.scss */
body #section-left #secLeft-submit {
  border: 1.5px solid #0f1f3c;
  border-radius: 20px;
  padding: 5px 30px 5px 30px;
  text-decoration: none;
  font-size: 1em;
  background-color: #0f1f3c;
  color: white;
  float: right;
  margin-right: 12%;
}
/* line 30, ../sass/_sectionLeft.scss */
body #section-left #secLeft-submit:hover {
  background-color: #113b5e;
  border: 1.5px solid #113b5e;
}

/* line 5, ../sass/_input.scss */
body header #section-left #article-secLeft #postcode-input {
  border: 1.5px solid royalblue;
  border-radius: 20px;
  padding: 5px 15px 5px 15px;
  width: 20%;
  font-size: 1em;
  margin-top: 5px;
}
/* line 13, ../sass/_input.scss */
body header #section-left #article-secLeft #postcode-input:focus {
  outline: none;
  color: royalblue;
}
/* line 17, ../sass/_input.scss */
body header #section-left #article-secLeft .secLeft-inputs {
  border: 1.5px solid royalblue;
  border-radius: 20px;
  padding: 5px 15px 5px 15px;
  width: 35%;
  font-size: 1em;
  color: royalblue;
  margin-top: 5px;
}
/* line 26, ../sass/_input.scss */
body header #section-left #article-secLeft .secLeft-inputs:focus {
  outline: none;
}

/* line 2, ../sass/_sectionRight.scss */
body #section-right {
  padding: 10px;
  float: left;
  width: 20%;
  margin-top: 4%;
  margin-left: 1%;
}
/* line 8, ../sass/_sectionRight.scss */
body #section-right #secRight-header {
  font-size: 2rem;
  font-weight: bold;
  line-height: 40px;
  margin-bottom: 10px;
}
/* line 14, ../sass/_sectionRight.scss */
body #section-right .divSecRight-img {
  width: 100%;
  height: auto;
  border-top: 10px solid royalblue;
  padding-top: 15px;
}
/* line 19, ../sass/_sectionRight.scss */
body #section-right .divSecRight-img .secRight-imgContainer {
  width: 100%;
  height: auto;
  position: relative;
  background-color: black;
}
/* line 24, ../sass/_sectionRight.scss */
body #section-right .divSecRight-img .secRight-imgContainer #secRight-img1 {
  width: 100%;
  height: auto;
  position: relative;
  transition: opacity .5s ease-in-out;
}
/* line 30, ../sass/_sectionRight.scss */
body #section-right .divSecRight-img .secRight-imgContainer #overlay1-top {
  position: absolute;
  bottom: 45%;
  left: 10%;
  opacity: 0;
  transition: opacity .5s ease-in-out;
}
/* line 36, ../sass/_sectionRight.scss */
body #section-right .divSecRight-img .secRight-imgContainer #overlay1-top .overlay-text1 {
  font-size: 1.5em;
  text-decoration: none;
}
/* line 39, ../sass/_sectionRight.scss */
body #section-right .divSecRight-img .secRight-imgContainer #overlay1-top .overlay-text1 .overlay-para1 {
  color: white;
}
/* line 44, ../sass/_sectionRight.scss */
body #section-right .divSecRight-img .secRight-imgContainer #overlay1-bottom {
  position: absolute;
  bottom: 1%;
  opacity: 0;
  transition: opacity .5s ease-in-out;
}
/* line 49, ../sass/_sectionRight.scss */
body #section-right .divSecRight-img .secRight-imgContainer #overlay1-bottom .overlay-text2 {
  font-size: .8em;
  text-decoration: none;
}
/* line 52, ../sass/_sectionRight.scss */
body #section-right .divSecRight-img .secRight-imgContainer #overlay1-bottom .overlay-text2 .overlay-para2 {
  color: white;
  padding: 5px 10px 5px 10px;
  background-color: rgba(65, 105, 225, 0.5);
}
/* line 60, ../sass/_sectionRight.scss */
body #section-right .divSecRight-img .secRight-imgContainer #overlay2-top {
  position: absolute;
  bottom: 45%;
  left: 10%;
  opacity: 0;
  transition: opacity .5s ease-in-out;
}
/* line 67, ../sass/_sectionRight.scss */
body #section-right .divSecRight-img .secRight-imgContainer #overlay2-bottom {
  position: absolute;
  bottom: 1%;
  opacity: 0;
  transition: opacity .5s ease-in-out;
}
/* line 74, ../sass/_sectionRight.scss */
body #section-right .divSecRight-img .secRight-imgContainer:hover #secRight-img1 {
  opacity: .5;
}
/* line 77, ../sass/_sectionRight.scss */
body #section-right .divSecRight-img .secRight-imgContainer:hover #secRight-img2 {
  opacity: .5;
}
/* line 80, ../sass/_sectionRight.scss */
body #section-right .divSecRight-img .secRight-imgContainer:hover #overlay1-top {
  opacity: 1;
}
/* line 83, ../sass/_sectionRight.scss */
body #section-right .divSecRight-img .secRight-imgContainer:hover #overlay1-bottom {
  opacity: 1;
}
/* line 86, ../sass/_sectionRight.scss */
body #section-right .divSecRight-img .secRight-imgContainer:hover #overlay2-top {
  opacity: 1;
}
/* line 89, ../sass/_sectionRight.scss */
body #section-right .divSecRight-img .secRight-imgContainer:hover #overlay2-bottom {
  opacity: 1;
}
/* line 92, ../sass/_sectionRight.scss */
body #section-right .divSecRight-img .secRight-para {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.5em;
}

/* line 4, ../sass/_radio.scss */
body #section-left #article-secLeft #div-radioButton {
  display: inline-block;
  margin-bottom: 20px;
}
/* line 7, ../sass/_radio.scss */
body #section-left #article-secLeft #div-radioButton .radioButton-container {
  border: 1.5px solid royalblue;
  border-radius: 20px;
  width: 75px;
  display: inline-block;
  padding: 5px 10px 5px 10px;
  margin: 0;
  position: relative;
}
/* line 15, ../sass/_radio.scss */
body #section-left #article-secLeft #div-radioButton .radioButton-container .radioButton-innerContainer1 {
  border: 1.5px solid royalblue;
  border-radius: 20px;
  width: 11px;
  height: 11px;
  padding: 5px;
  display: inline-block;
  margin: 0;
  position: absolute;
  top: 19%;
  left: 10%;
}
/* line 26, ../sass/_radio.scss */
body #section-left #article-secLeft #div-radioButton .radioButton-container .radioButton-innerContainer1 .radioButton-innerContainer2 {
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: royalblue;
  width: 12px;
  height: 12px;
  border-radius: 20px;
  position: absolute;
  top: 22%;
  left: 21%;
}
/* line 37, ../sass/_radio.scss */
body #section-left #article-secLeft #div-radioButton .radioButton-container .radioButton-innerContainer1 .radioButton-innerContainer2 .radioButton {
  display: inline-block;
  margin: 0;
  position: absolute;
  top: 23%;
  left: 23%;
  visibility: hidden;
}
/* line 47, ../sass/_radio.scss */
body #section-left #article-secLeft #div-radioButton .radioButton-container .radioButton-label {
  display: inline-block;
  margin-left: 35px;
}
/* line 52, ../sass/_radio.scss */
body #section-left #article-secLeft #div-radioButton .radioButton-container:hover {
  border: 1.5px solid royalblue;
  background-color: royalblue;
  color: white;
}
/* line 57, ../sass/_radio.scss */
body #section-left #article-secLeft #div-radioButton .radioButton-container:hover .radioButton-innerContainer1 {
  border: 1.5px solid white;
}
/* line 60, ../sass/_radio.scss */
body #section-left #article-secLeft #div-radioButton .radioButton-container:hover .radioButton-innerContainer2 {
  background-color: white;
}

/* line 3, ../sass/_footer.scss */
body footer #footer-container {
  margin-left: 10%;
}
/* line 5, ../sass/_footer.scss */
body footer #footer-container .div-footer {
  float: left;
  padding: 10px;
}
/* line 9, ../sass/_footer.scss */
body footer #footer-container .div-footer li {
  list-style: none;
}
/* line 11, ../sass/_footer.scss */
body footer #footer-container .div-footer li .footer-header {
  border-bottom: 1.5px solid royalblue;
  padding-bottom: 10px;
  padding-right: 15px;
  padding-top: 10px;
  margin-right: 35px;
  margin-bottom: 20px;
  text-decoration: none;
  display: inline-block;
}
/* line 21, ../sass/_footer.scss */
body footer #footer-container .div-footer li .footer-header:hover {
  color: royalblue;
}
/* line 24, ../sass/_footer.scss */
body footer #footer-container .div-footer li .footer-links:hover {
  color: royalblue;
}
/* line 27, ../sass/_footer.scss */
body footer #footer-container .div-footer li .footer-links :link, body footer #footer-container .div-footer li :visited {
  color: black;
}
/* line 31, ../sass/_footer.scss */
body footer #footer-container .div-footer .footer-links {
  text-decoration: none;
  display: inline-block;
}
